@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;

}


body{
    font-size: 20px;
    padding: 30px;
    background-color:rgb(233, 233, 233)
}


table{
    background-color: white;
    border: 1px solid;
    box-shadow: 5px 10px 5px #7c7c7c;
    padding: 20px;
}

.modelo{
    visibility: hidden;
}


th{
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border: 1px solid rgb(0, 0, 0);
    font-weight: bold;
}

td{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

#nivel-lista{
    display: flex;
    justify-content:center;
}
